html {
	margin: 0;
}

body {
	margin: 0;
	font-family: monospace;
	font-size: 1em;
	line-height: 1.2em;
}

#canvas {
	display: block;
	border: 1px solid black;
}

#content-container {
	width: auto;
	margin: 0.5em;
	float: left;
}

#controls-container {
	width: auto;
	margin: 0.5em;
	float: left;
}
