html {
	margin: 0;
}

body {
	margin: 0;
	font-family: monospace;
	font-size: 1em;
	line-height: 1.2em;
}

p {
	margin: 0.2em 0.5em 0.2em 0.5em;
}

canvas {
	margin: 0.5em auto 1em auto;
	display: block;
	border: 1px solid black;
}
